# Logs
logs
*.log
npm-debug.log*

# use yarn instad of npm
package-lock.json

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Yarn integrity file
.yarn-integrity

# IntelliJ IDE
.idea

# Build directory
dist
build

# Dotenv configuration
.env

# Tests
coverage
.nyc_output

# Vim swp files
*.swp